body {
    background-color: #dbe3db;
}

main {
    color: #17280B;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

img#mascot {
    border: none;
    display: block;
    margin: 1em auto;
}

div#trash {
    margin: 1em auto;
    width: 60ex;
    text-align: center;
}

div#trash p {
    margin: 0 auto 1em auto;
}

p#trashSentence {
    font-family: 'Roboto Slab', serif;
    font-size: 20pt;
}

p#inputZero {
    background-color: #aade87;
    border-radius: 1em;
    padding: 1em;
    width: 32ex;
}
    
p#inputVolume {
    background-color: #aca793;
    border-radius: 1em;
    color: #483737;
    padding: 1em;
    width: 32ex;
}

div#trash input {
    background-color: inherit;
    padding: .25em 1ex;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px double #483737;
    font-size: 12pt;
    max-width: 12ex;
}

p#inputDay span {
    display: inline-block;
    padding: 1em;
}

p#inputDay span.selected {
    background-color: #aade87;
    border-radius: 1em;
}

div#trash img {
    float: right;
    margin-top: .5em;
}

div.stats div {
    text-align: left;
    margin: 0 auto;
    width: 32ex;
}

div#trash div.stats div p {
    font-size: 10pt;
    margin-bottom: .5em;
}
