{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="{% static "trashinator/save_trash.css" %}" />
{% endblock style %}


{% block content %}
<main>
<img src="/static/trashinator/trash_can.svg" alt="trash can" id="mascot" />
<div id="trash"></div>
</main>
{% endblock content %}

{% block scripts %}
<script src="/static/trashinator/elm-trash.js"></script>
<script type="text/javascript">
var elmDiv = document.getElementById("trash");
var timestamp = (new Date).getTime();
var app = Elm.Main.embed(
    elmDiv, { token: "{{ token }}", metric: "{{ metric }}", timestamp: timestamp });
</script>
{% endblock scripts %}
